
@{
    ViewBag.Title = "Account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">Tài Khoản</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tài Khoản</th>
                        <th scope="col">Chủ Tài Khoản</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>quyetchien123</td>
                        <td>Hoàng Quyết Chiến</td>
                        <td>Admin</td>
                        <td class="flex-item">
                            <a href="#" data-toggle="modal" data-target="#update" data-whatever="mdo">Khóa</a><p>|</p>
                            <a href="#" data-toggle="modal" data-target="#detail" data-whatever="fat">Phân Quyền</a><p>|</p>
                            <a href="" data-toggle="modal" data-target="#delete" data-whatever="delete">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>dangquy123</td>
                        <td>Nguyễn Đăng Quý</td>
                        <td>User</td>
                        <td class="flex-item">
                            <a href="#" data-toggle="modal" data-target="#update" data-whatever="do">Khóa</a><p>|</p>
                            <a href="#" data-toggle="modal" data-target="#detail" data-whatever="at">Phân Quyền</a><p>|</p>
                            <a href="" data-toggle="modal" data-target="#delete" data-whatever="delete">Xóa</a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>huudit123</td>
                        <td>Nguyễn Hữu Đạt</td>
                        <td>User</td>
                        <td class="flex-item">
                            <a href="#" data-toggle="modal" data-target="#update" data-whatever="mdo">Khóa</a><p>|</p>
                            <a href="#" data-toggle="modal" data-target="#detail" data-whatever="fat">Phân Quyền</a><p>|</p>
                            <a href="" data-toggle="modal" data-target="#delete" data-whatever="delete">Xóa</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
    </div>

<!-- ========== -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Khóa Tài Khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <h3>Bạn có chắc muốn khóa?</h3>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- ========== -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Phân Quyền Tài Khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Chọn...</option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đồng ý</button>

            </div>
        </div>
    </div>
</div>
<!-- ========== -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <h3>Bạn có chắc muốn xóa?</h3>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Tài khoản:</label>
                        <div class="col-sm-8">
                            <label for="inputPassword" class="col-sm-4 col-form-label">dangquy123</label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

