
@{
    ViewBag.Title = "Block";

}

<h2>Tài khoản của bạn đã bị khóa, Liên hệ giám đốc để biết thêm thông tin chi tiết</h2>

<button type="button" class="btn btn-outline-dark">@Html.ActionLink("Trở laị trang đăng nhập", "Login")</button>