
@{
    ViewBag.Title = "Card";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">Giỏ Hàng</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã Giỏ Hàng</th>
                        <th scope="col">Số Lượng mua</th>
                        <th scope="col">Thành Tiền</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>G001</td>
                        <td>7</td>
                        <td>2000$</td>
                        <td>Đang giao</td>
                        <td class="flex-item">
                            <a href="#" data-toggle="modal" data-target="#update" data-whatever="mdo">Sửa tình trạng</a><p>|</p>
                            <a href="#" data-toggle="modal" data-target="#detail" data-whatever="fat">Chi Tiết</a><p>|</p>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>G002</td>
                        <td>7</td>
                        <td>2000$</td>
                        <td>Đang giao</td>
                        <td class="flex-item">
                            <a href="#" data-toggle="modal" data-target="#update" data-whatever="mdo">Sửa tình trạng</a><p>|</p>
                            <a href="#" data-toggle="modal" data-target="#detail" data-whatever="fat">Chi Tiết</a><p>|</p>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>G003</td>
                        <td>7</td>
                        <td>2000$</td>
                        <td>Đang giao</td>
                        <td class="flex-item">
                            <a href="#" data-toggle="modal" data-target="#update" data-whatever="mdo">Sửa tình trạng</a><p>|</p>
                            <a href="#" data-toggle="modal" data-target="#detail" data-whatever="fat">Chi Tiết</a><p>|</p>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
    </div>
<!-- ========== -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật tình trạng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Tình trạng:</label>
                        <div class="col-sm-8">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>Chọn...</option>
                                <option value="1">Đang Giao</option>
                                <option value="2">Chưa Giao</option>
                                <option value="3">Đã Giao</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- ========== -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container-fluid">
                        <div class="row">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên Sản Phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số Lượng</th>
                                        <th scope="col">Ảnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Bút lông dầu Bizner BIZ-PM01</td>
                                        <td>141.000</td>
                                        <td>2</td>
                                        <td><img src="~/Areas/Admin/Alink/Images/but_long_dau_biz-pm01-02.jpg" width="100px" height="100px"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Bút lông dầu Bizner BIZ-PM01</td>
                                        <td>141.000</td>
                                        <td>4</td>
                                        <td><img src="~/Areas/Admin/Alink/Images/but_long_dau_biz-pm01-02.jpg" width="100px" height="100px"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Bút lông dầu Bizner BIZ-PM01</td>
                                        <td>141.000</td>
                                        <td>6</td>
                                        <td><img src="~/Areas/Admin/Alink/Images/but_long_dau_biz-pm01-02.jpg" width="100px" height="100px"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>
<!-- ========== -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <h3>Bạn có chắc muốn xóa?</h3>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Mã giỏ hàng:</label>
                        <div class="col-sm-8">
                            <label for="inputPassword" class="col-sm-4 col-form-label">G001</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

